# Ignore everything
*
# Unless

# Git
!/.gitignore

# Sources
!/mavcodegen/
!/mavcodegen/**
!/examples/
!/examples/**
!/interfaces/
!/interfaces/**

# Submodules
!/mavlink
!/message_definitions
!/message_definitions/**

# Executables & scripts
!/bin
!/bin/**

# Cargo
!/mavcodegen/Cargo.lock
!/mavcodegen/Cargo.toml
!/Cross.toml
!/mavcodegen/build.rs

# Docs
!/README.md
!/LICENSE-APACHE
!/LICENSE-MIT
!/avatar.png
!/avatar.svg

# CI
!/.gitlab-ci.yml
!/.gitlab-ci
!/.gitlab-ci/**

# Still, explicitely ignore these
/target
/tmp
