# Ignore everything
*
# Unless

# Git
!/.gitignore

# Sources
!/mavspec/
!/mavspec/**
!/mavspec_*/
!/mavspec_*/**
!/examples/
!/examples/**

# MAVLink
!/mavlink
!/message_definitions
!/message_definitions/**

# Executables & scripts
!/bin
!/bin/**

# Cargo
!/mavspec/Cargo.lock
!/mavspec/Cargo.toml
!/Cross.toml
!/mavspec/build.rs

# Docs
!/README.md
!/LICENSE-APACHE
!/LICENSE-MIT
!/avatar.png
!/avatar.svg

# CI
!/.gitlab-ci.yml
!/.gitlab-ci
!/.gitlab-ci/**

# Still, explicitely ignore these
/target
/tmp
